<template>
    <v-container>
        <v-row>
            <v-col class="d-none d-lg-block" lg="6">
                <img src="../assets/about-us.jpg" alt="" />
            </v-col>
            <v-col>
                <v-subheader class="text-h4 justify-center justify-md-left"
                    >About Us</v-subheader
                >
                <p class="text-center text-sm-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <v-list class="text-center text-sm-left">
                    <v-list-item>
                        <v-icon color="success" class="mr-3"
                            >mdi-check-all</v-icon
                        >
                        <v-list-item-subtitle
                            >Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit,
                        </v-list-item-subtitle>
                    </v-list-item>
                    <v-list-item>
                        <v-icon color="success" class="mr-3"
                            >mdi-check-all</v-icon
                        >
                        <v-list-item-subtitle
                            >Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit,
                        </v-list-item-subtitle>
                    </v-list-item>
                    <v-list-item>
                        <v-icon color="success" class="mr-3"
                            >mdi-check-all</v-icon
                        >
                        <v-list-item-subtitle
                            >Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit,
                        </v-list-item-subtitle>
                    </v-list-item>
                </v-list>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: "Aboutus",
    data: () => ({}),
};
</script>

<style></style>
