<template>
    <v-container class="my-15">
        <v-row justify="center">
            <v-col cols="12" class="text-center">
                <v-subheader class="text-h4 justify-center">
                    Contact Us
                </v-subheader>
                <p class="d-none d-sm-block">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Deserunt nam laudantium, accusantium dolore eligendi
                    necessitatibus, a minima quod tempore ea culpa? Obcaecati
                    tempora dicta suscipit et eius velit inventore ullam!
                </p>
            </v-col>
            <v-col cols="" lg="6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251098.1980398495!2d-67.03045249602332!3d10.468361152250173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58adcd824807%3A0x93dd2eae0a998483!2sCaracas%2C%20Distrito%20Capital%2C%20Venezuela!5e0!3m2!1ses-419!2sco!4v1633621410212!5m2!1ses-419!2sco"
                    width="100%"
                    height="100%"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                ></iframe>
            </v-col>
            <v-col lg="6">
                <v-form ref="form">
                    <v-text-field
                        v-model="contactInfo.name"
                        :counter="10"
                        label="Name"
                        required
                    ></v-text-field>

                    <v-text-field
                        v-model="contactInfo.email"
                        label="E-mail"
                        required
                    ></v-text-field>
                    <v-textarea
                        label="Message"
                        v-model="contactInfo.message"
                    ></v-textarea>

                    <v-btn color="success" class="mr-4"> Send </v-btn>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: "Contactus",

    data: () => ({
        contactInfo: {
            name: "",
            email: "",
        },
    }),
};
</script>

<style></style>
