<template>
    <v-footer padless>
        <v-col lg="12">
            <v-row justify="center">
                <v-col lg="4" class="text-center">
                    <v-toolbar-title>Website</v-toolbar-title>
                    <v-card-text>
                        <v-btn
                            v-for="icon in icons"
                            :key="icon"
                            class="mx-4 black--text"
                            icon
                        >
                            <v-icon size="24px">
                                {{ icon }}
                            </v-icon>
                        </v-btn>
                    </v-card-text>
                    <v-subheader class="mt-12 sm-mt-4 md-mt-4 lg-mt-4"
                        >Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Consectetur blanditiis nam aut! Cum laborum
                        suscipit omnis aspernatur quo quaerat labore quos fugiat
                        quisquam laudantium pariatur mollitia maiores ab,
                        blanditiis quas?
                    </v-subheader>
                    <v-form class="mt-12 sm-mt-4 md-mt-4 lg-mt-4">
                        <v-text-field
                            label="Email"
                            outlined
                            dense
                        ></v-text-field>
                        <v-btn rounded color="success">Suscribe us</v-btn>
                    </v-form>
                </v-col>
            </v-row>
            <div class="mt-10">
                <v-divider></v-divider>
                <v-subheader class="text-center text-md-left">
                    Copyright Raymond Blondell. All Rights Reserved
                    {{ new Date().getFullYear() }} —
                    <strong class="d-none d-sm-block">Vuetify</strong>
                    <v-spacer />
                </v-subheader>
            </div>
        </v-col>
    </v-footer>
</template>

<script>
export default {
    name: "Footer",
    data: () => ({
        icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
    }),
};
</script>

<style></style>
