<template>
    <div>
        <v-app-bar
            class="pl-5 pl-lg-16"
            app
            color="white"
            light
            elevation="6"
            elevate-on-scroll
        >
            <v-toolbar-title> Website </v-toolbar-title>
            <v-spacer />
            <v-app-bar-nav-icon
                class="d-block d-lg-none"
                @click="drawer = true"
            ></v-app-bar-nav-icon>
            <v-list class="d-lg-flex align-center d-none d-lg-block">
                <v-list-item
                    link
                    v-for="(menu, index) in menus"
                    :key="index"
                    :to="menu.route"
                    @click="$vuetify.goTo(menu.target, menu.options)"
                >
                    <v-list-item-title> {{ menu.title }} </v-list-item-title>
                </v-list-item>
                <v-btn text>
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
                <v-btn outlined color="success"> Get Started </v-btn>
            </v-list>
        </v-app-bar>
        <v-navigation-drawer v-model="drawer" absolute temporary>
            <v-list class="mt-7">
                <v-list-item
                    active-class="active-list"
                    link
                    v-for="(menu, index) in menus2"
                    :key="index"
                    :to="menu.route"
                    @click="$vuetify.goTo(menu.target, menu.options)"
                >
                    <v-list-item-title> {{ menu.title }} </v-list-item-title>
                </v-list-item>
                <v-btn text>
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
                <br />
                <v-btn block outlined color="success"> Get Started </v-btn>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
    name: "Header",

    data: () => ({
        menus: [
            {
                title: "Home",
                route: "home",
                target: 0,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "About Us",
                route: "about-us",
                target: 655,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "Portfolio",
                route: "portfolio",
                target: 1150,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "Project",
                route: "project",
                target: 1850,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "Gallery",
                route: "gallery",
                target: 2516,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "Contact",
                route: "contact",
                target: 3105,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
        ],
        menus2: [
            {
                title: "Home",
                route: "home",
                target: 0,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "About Us",
                route: "about-us",
                target: 570,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "Portfolio",
                route: "portfolio",
                target: 1000,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "Project",
                route: "project",
                target: 2750,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "Gallery",
                route: "gallery",
                target: 4300,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
            {
                title: "Contact",
                route: "contact",
                target: 7870,
                options: { duration: 500, offset: 0, easing: "easeInOutCubic" },
            },
        ],
        drawer: false,
        group: null,
    }),
};
</script>

<style scope>
.v-toolbar__title {
    font-size: 32px;
    color: #4caf50;
    font-weight: 700;
    font-family: cursive;
}
</style>
