<template>
    <v-container class="pt-15">
        <v-row>
            <v-col lg="6">
                <h2 class="intro-text ml-5 ml-md-0">
                    Welcome to our Vuetify App
                </h2>
                <p class="description d-none d-md-block">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                <v-btn
                    color="success"
                    class="white--text mr-3 my-8 my-md-0"
                    rounded
                >
                    Get Started
                </v-btn>
                <v-btn color="indigo" class="white--text my-8 my-md-0" rounded>
                    <v-icon>mdi-play-circle</v-icon>
                    Watch Video
                </v-btn>
            </v-col>
            <v-col class="d-none d-lg-block" lg="6">
                <img width="100%" src="../assets/hero-img.png" alt="" />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: "HeroComponent",

    data: () => ({
        menus: [
            { title: "Home", route: "home" },
            { title: "About Us", route: "about-us" },
            { title: "Portfolio", route: "portfolio" },
            { title: "Project", route: "project" },
            { title: "Gallery", route: "gallery" },
            { title: "Contact", route: "contact" },
        ],
    }),
};
</script>

<style>
h2.intro-text {
    font-size: 60px;
    font-weight: bold;
    font-family: cursive;
    color: #444;
}
p.description {
    font-size: 19px;
    font-family: cursive;
    margin: 32px 8px;
    color: #444444ba;
}
</style>
