<template>
    <v-container class="my-15">
        <v-row justify="center">
            <v-col cols="12" sm="12" lg="12" class="text-center">
                <v-subheader class="text-h4 justify-center">
                    Portfolio
                </v-subheader>
                <p class="d-none d-sm-block">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Deserunt nam laudantium, accusantium dolore eligendi
                    necessitatibus, a minima quod tempore ea culpa? Obcaecati
                    tempora dicta suscipit et eius velit inventore ullam!
                </p>
            </v-col>
            <v-col cols="12" sm="12" lg="12">
                <div class="text-center">
                    <v-chip
                        @click="activePortfolio = 'webapp'"
                        :color="activePortfolio === 'webapp' ? 'success' : ''"
                        class="mx-2 sm-mx-2 lg-mx-5"
                    >
                        Web App
                    </v-chip>
                    <v-chip
                        @click="activePortfolio = 'mobileapp'"
                        :color="
                            activePortfolio === 'mobileapp' ? 'success' : ''
                        "
                        class="mx-2 sm-mx-2 lg-mx-5"
                    >
                        Mobile App
                    </v-chip>
                    <v-chip
                        @click="activePortfolio = 'desktopapp'"
                        :color="
                            activePortfolio === 'desktopapp' ? 'success' : ''
                        "
                        class="mx-2 sm-mx-2 lg-mx-5"
                    >
                        Desktop App
                    </v-chip>
                </div>
            </v-col>
            <slot v-if="activePortfolio === 'webapp'">
                <v-col
                    lg="3"
                    md="6"
                    cols="12"
                    sm="6"
                    v-for="(web, webindex) in webApps"
                    :key="webindex"
                >
                    <v-card>
                        <v-img
                            :src="web.image"
                            class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                        >
                            <v-card-title>{{ web.title }}</v-card-title>
                        </v-img>
                    </v-card>
                </v-col>
            </slot>
            <slot v-if="activePortfolio === 'mobileapp'">
                <v-col
                    lg="3"
                    v-for="(mobile, mobileindex) in mobileApps"
                    :key="mobileindex"
                >
                    <v-card>
                        <v-img
                            :src="mobile.image"
                            class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                        >
                            <v-card-title>{{ mobile.title }}</v-card-title>
                        </v-img>
                    </v-card>
                </v-col>
            </slot>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: "Portfolio",

    data: () => ({
        activePortfolio: "webapp",
        webApps: [
            {
                title: "Web App 1",
                image: "https://www.edutelia.com/wp-content/uploads/2020/11/aplicacion-web-autocad.png",
            },
            {
                title: "Web App 2",
                image: "https://www.appsypaginasweb.com/images/web_development-1.png",
            },
            {
                title: "Web App 3",
                image: "https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript_UI_widgets_library_for_building_desktop_and_mobile_web_apps.png",
            },
            {
                title: "Web App 4",
                image: "https://bitsingenieria.com/bitsdapp/wp-content/uploads/2020/07/desarrollo-de-aplicaciones-web.png",
            },
            {
                title: "Web App 5",
                image: "https://media.contentapi.ea.com/content/dam/ea/fifa/fut-app/images/2021/08/fut22-hero-med-app-top-mg-7x2-xl.png.adapt.crop16x9.320w.png",
            },
            {
                title: "Web App 6",
                image: "https://png.pngtree.com/png-clipart/20200401/original/pngtree-modern-flat-design-concept-of-ui-ux-design-with-characters-and-png-image_5332907.jpg",
            },
            {
                title: "Web App 7",
                image: "https://www.pngitem.com/pimgs/m/15-155460_web-development-mobile-app-development-animation-hd-png.png",
            },
        ],
        mobileApps: [
            {
                title: "Web App 1",
                image: "https://www.kindpng.com/picc/m/15-156496_appshunts-mobile-application-development-hd-png-download.png",
            },
            {
                title: "Web App 2",
                image: "https://www.kindpng.com/picc/m/15-156409_mobile-application-programming-transparent-background-mobile-app-png.png",
            },
            {
                title: "Web App 3",
                image: "https://www.pngarts.com/files/8/Mobile-App-Download-Transparent-PNG-Image.png",
            },
            {
                title: "Web App 4",
                image: "https://www.pngarts.com/files/8/Mobile-App-PNG-Background-Image.png",
            },
            {
                title: "Web App 5",
                image: "https://sunrisetechs.com/wp-content/uploads/2021/09/Asset-1@2x.png",
            },
            {
                title: "Web App 6",
                image: "https://www.pngkit.com/png/full/97-973513_mobile-app-development-agency-development-app-mobile-png.png",
            },
            {
                title: "Web App 7",
                image: "https://mk0appinventiv4394ey.kinstacdn.com/wp-content/uploads/sites/1/2020/02/mobile-app-architecture.png",
            },
        ],
    }),

    mounted() {},
};
</script>

<style></style>
