<template>
    <v-container class="my-15">
        <v-row justify="center">
            <v-col cols="12" class="text-center">
                <v-subheader class="text-h4 justify-center">
                    Project
                </v-subheader>
                <p class="d-none d-sm-block">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Deserunt nam laudantium, accusantium dolore eligendi
                    necessitatibus, a minima quod tempore ea culpa? Obcaecati
                    tempora dicta suscipit et eius velit inventore ullam!
                </p>
            </v-col>
            <v-col
                cols="12"
                sm="6"
                md="6"
                lg="4"
                v-for="project in 3"
                :key="project"
            >
                <v-card class="mx-auto my-3 lg-my-12" max-width="374">
                    <v-img height="250" src="../assets/web/2.png"></v-img>

                    <v-card-title>Web Development</v-card-title>

                    <v-card-text>
                        <div>
                            Small plates, salads & sandwiches - an intimate
                            setting with 12 indoor seats plus patio seating.
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>
                    <v-card-actions>
                        <v-btn color="success" rounded>View Details</v-btn>
                        <v-spacer />
                        <v-rating
                            :value="4.5"
                            color="amber"
                            dense
                            half-increments
                            readonly
                            size="14"
                        ></v-rating>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: "Project",
};
</script>

<style></style>
